$primary: #304560;
$secondary: #315275;
$accent: #47556b;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$orange: #F8A401;

// Button
$button-border-radius: 6px;
$button-padding: 8px 16px;
$button-dense-padding: 8px 16px;
$button-font-weight: 600;
$button-font-size: 16px;
$button-dense-font-size: 14px;
